/* Estilos para el encabezado */
header {
  background-color: #333;
  color: #fff;
}

.contenedor-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

nav {
  display: flex;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
  position: relative;
}

nav ul li a {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #f96332; /* Cambia el color al pasar el cursor */
}

/* Animación para la barra de navegación */
nav ul li::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #f96332;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

nav ul li:hover::after {
  visibility: visible;
  transform: scaleX(1);
}

/* Estilos para la sección de usuario */
.seccion-usuario {
  display: flex;
  align-items: center;
}

.seccion-usuario a {
  font-size: 16px;
  margin-right: 20px;
  color: #fff;
  text-decoration: none;
  position: relative;
  transition: color 0.3s; /* Agregar transición de color */
}

.seccion-usuario a:hover {
  color: #f96332; /* Cambia el color al pasar el cursor */
}

.seccion-usuario a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -3px;
  left: 0;
  background-color: #f96332; /* Cambia el color de la línea subrayada */
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.seccion-usuario a:hover::after {
  visibility: visible;
  transform: scaleX(1);
}
/* ================================= */ /* ================================= */ /* ================================= */

/* Estilos para el cuerpo de la página */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #f9f9f9;
  /* Color de fondo para el cuerpo de la página */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

a {
  color: #f96332;
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: #f63507;
}

/* Estilos específicos para cada sección */
.seccion-destacada,
.seccion-beneficios,
.seccion-testimonios,
.seccion-registro {
  margin-bottom: 40px;
}

/* Estilos para la sección destacada */
.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.seccion-destacada h2 {
  text-align: center;
  /* Centra el texto */
  margin-top: 5px;
  /* Agrega espacio arriba del título */
  margin-bottom: 10px;
  /* Agrega espacio abajo del título */
  font-weight: bold;
  font-size: 28px;
  color: #fff;
}

.seccion-destacada {
  background-color: #f96332; /* Cambia el color de fondo de la sección destacada */
  padding: 20px; /* Ajusta el relleno según sea necesario */
  margin-bottom: -5px;
}

.seccion-destacada .card {
  background-color: #fff; /* Restaura el color de fondo de las tarjetas */
  border-radius: 5px; /* Ajusta según sea necesario */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Ajusta según sea necesario */
}

.card {
  width: 300px;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  text-align: center;
}

.card img {
  width: 100%;
  margin-bottom: 10px;
}

.card h3 {
  font-size: 1.8em;
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
}

.card p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
  color: #666;
}

.card a {
  background-color: #f96332;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}

.card a:hover {
  background-color: #f63507;
}

/* Estilos para la sección de beneficios */
.seccion-beneficios {
  background-color: #333;
  color: #fff;
  padding: 50px;
  text-align: center;
  font-family: Arial, sans-serif;
}

.seccion-beneficios h2 {
  margin-bottom: 50px;
  font-size: 2em;
  color: #fff;
}

.seccion-beneficios ul {
  list-style: none;
  padding: 0;
}

.seccion-beneficios li {
  margin-bottom: 20px;
  padding-left: 20px;
  position: relative;
  font-size: 18px;
  transition: transform 0.3s ease;
}

.seccion-beneficios li:hover {
  transform: translateX(10px);
  color: #f96332;
}

.seccion-beneficios li a {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s ease;
}

.seccion-beneficios li a:hover {
  color: #f96332;
}

/* Estilos para los testimonios */
.seccion-testimonios {
  background-color: #f9f9f9;
  padding: 40px 20px;
  text-align: center;
  font-family: Arial, sans-serif;
}

.seccion-testimonios h2 {
  font-weight: bold;
  font-size: 28px;
  color: #333; /* Color del texto */
  margin-top: 50px; /* Ajusta el espacio superior según sea necesario */
  margin-bottom: 55px; /* Ajusta el espacio inferior según sea necesario */
  text-align: center; /* Centra el texto */
}

.testimonio {
  background-color: #fff;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  text-align: center; /* Centra el texto */
}

.testimonio:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.testimonio p {
  font-style: italic;
  margin-bottom: 10px;
  font-size: 1.1em;
  color: #666;
}

.testimonio strong {
  display: block;
  font-weight: bold;
  color: #333;
  margin-top: 15px;
  font-size: 1.2em;
}

/* Estilos para la sección de registro */
.seccion-registro {
  background-color: #f96332;
  color: #fff;
  text-align: center;
  padding: 50px;
  font-family: Arial, sans-serif;
  margin-bottom: 0px;
}

.seccion-registro h2 {
  font-size: 2em;
  margin-bottom: 20px;
  margin-top: 50px; /* Ajusta el espacio superior según sea necesario */
  margin-bottom: 50px; /* Ajusta el espacio inferior según sea necesario */
}

.seccion-registro p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 40px;
}

.seccion-registro a {
  display: inline-block;
  background-color: #fff;
  color: #f96332;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.seccion-registro a:hover {
  background-color: #f63507;
  color: #fff;
}
/* ================================= */ /* ================================= */ /* ================================= */

/* Estilos para el pie de página */
footer {
  background-color: #333;
  color: #fff;
  padding: 50px 20px;
}

.contenedor-footer {
  display: flex;
  justify-content: space-around;
}

.seccion-informacion,
.seccion-enlaces,
.seccion-redes-sociales {
  flex: 1;
  text-align: center;
}

.seccion-informacion h3,
.seccion-enlaces h3,
.seccion-redes-sociales h3 {
  margin-bottom: 20px;
}

.seccion-informacion p,
.seccion-enlaces ul,
.seccion-redes-sociales ul {
  margin-bottom: 20px;
}

.seccion-enlaces a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.seccion-enlaces a:hover {
  color: #f96332;
}

.seccion-enlaces ul,
.seccion-redes-sociales ul {
  padding-left: 0;
  list-style: none;
}

.seccion-enlaces ul li,
.seccion-redes-sociales ul li {
  margin-bottom: 10px;
}

.seccion-redes-sociales ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.seccion-redes-sociales ul li {
  display: inline-block;
  margin-right: 10px;
}

.seccion-redes-sociales ul li a {
  color: #fff;
  font-size: 1.5em;
}

.seccion-redes-sociales ul li a:hover {
  color: #ddd;
}
